.start-btn {
  min-width: 307px;
  max-width: fit-content;
  padding: 0 20px;
  height: 70px;
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FFCA46 0%, #FF9200 100%);
  border-radius: 0px 50px 50px 100px;
  border: none;
  transition: all .3s ease;
  cursor: pointer;
}

.start-btn-arrow {
  display: block;
  width: 48px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.start-btn:hover,
.start-btn:focus {
  box-shadow: 0px 0px 15px #FF8A00;
  transition: all .3s ease;
}

.start-btn:active {
  color: #FFFFFF;
  background: linear-gradient(180deg, #FFA829 0%, #FF6D01 100%);
  transition: all .3s ease;
  box-shadow: none;
}

.start-btn-arrow {
  fill: #FAFAFA;
  transition: all .3s ease;
}

.start-btn:active .start-btn-arrow {
  fill: #474747;
  transition: all .3s ease;
}

.phone-block {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.phone-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 225px;
  margin-bottom: 8px;
}

.phone-btn-wrap button {
  margin-right: 10px;
  border: none;
  background: transparent;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #BDBDBD;
  cursor: pointer;
}

.phone-region-btn.active {
  text-decoration-line: underline;
  color: #202020;
}

.phone {
  display: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #202020;
  transition: all .3s ease;
  cursor: pointer;
}

.phone:hover,
.phone:focus {
  color: #FF7A00;
  transition: all .3s ease;
}

.phone.active {
  display: block;
}

.lang-btn {
  display: flex;
  padding-right: 0;
  position: relative;
  border: none;
  background: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #202020;
  transition: all .3s ease;
  cursor: pointer;
}

.lang-btn:hover,
.lang-btn:focus {
  opacity: .6;
  transition: all .3s ease;
}

.polish-lang {
  padding-left: 10px;
  position: relative;
}

.polish-lang::before {
  content: '|';
  font-weight: 700;
  position: absolute;
  left: 0;
  top: -2px;
}

.language-name {
  font-weight: 700;
  margin-right: 5px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
  transition: all .2s ease;
}

@media (max-width: 600px) {
  .start-btn {
    height: 55px;
    min-width: 231px;
    width: 231px;
    font-size: 20px;
  }
}
