.contact-form__wrap.opened-form {
  transform: translateX(0);
}

.contact-form__wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100vh - 112px);
  overflow-y: scroll;
  width: 100%;
  padding: 30px 0;
  background: #f8f8f8;
  z-index: 5;
  transform: translateX(-120%);
  transition: transform .5s ease;
}

.contact-form__wrap .container {
  min-height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-form {
  width: 55%;
  min-height: 497px;
}

.contact-form__desc {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #474747;
}

.contact-form__input-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form__text-input {
  width: 47%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #474747;
  padding-bottom: 5px;
  margin-top: 45px;
}

.contact-form__text-input::placeholder {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #474747;
  opacity: 0.7;
}

.contact-form__label {
  display: flex;
  width: 61%;
  padding-left: 30px;
  margin: 35px 0 40px 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #474747;
  cursor: pointer;
}

.close-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  right: 50px;
  top: 0;
  fill: #474747;
  cursor: pointer;
  transition: all .3s ease;
}

.close-btn:hover svg,
.close-btn:focus svg {
  opacity: .6;
  transform: rotate(90deg);
  transition: all .3s ease;
}

.close-btn svg {
  width: 25px;
  height: 25px;
}

.contact-form__interactive-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form__file-wrap {
  width: 30%;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.contact-form__file-wrap:hover,
.contact-form__file-wrap:focus {
  opacity: .6;
  transition: all .3s ease;
}

.contact-form__file-label {
  display: block;
  max-width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.025em;
  text-decoration-line: underline;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  opacity: 0.8;
  cursor: pointer;
}

.contact-form__paperclip {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
