.greetings {
  min-height: 350px;
  height: calc(100vh - 112px);
}

.greetings__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.greetings__desc-block {
  padding: 35px 0 0;
  max-width: 510px;
  position: relative;
}

.greetings__desc-block::before {
  content: '';
  display: block;
  width: 67px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background: #0487D9;
}

.greetings__text {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125.9%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #202020;
  opacity: 0.7;
}

.greetings__title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 135%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.greetings__title-accent {
  color: #0487D9;
}

.greetings__pic {
  height: 90%;
  max-height: 550px;
}



