.contact-form__wrap.opened-form {
  transform: translateX(0);
}

.contact-form__wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  background: rgba(0, 0, 0, 0.31);
  z-index: 15;
  transform: translateX(-120%);
  transition: transform .5s ease;
}

.contact-form__wrap .container {
  height: calc(100vh - 80px);
  padding: 50px 60px;
  position: relative;
  background: #FFFFFF;
  overflow-y: scroll;
}

.contact-form__wrap::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: calc(100vh - 110px);
  background: #FFFFFF;
}

.contact-form {
  width: 100%;
}

.contact-form__desc {
  font-family: 'Houschka', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #474747;
}

.contact-form__input-wrap {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 33% 33% 33%;
  width: 95%;
  height: auto;
  color: #1E1E1E;
  font-size: 15px;
}

.contact-form__input-wrap input {
  height: 45px;
}

.contact-form__input-wrap input,
.contact-form__input-wrap textarea {
  margin-top: 2px;
}

.contact-form__text-wrap,
.contact-form__textarea-wrap {
  display: flex;
  flex-direction: column;
}

.contact-form__textarea-wrap textarea {
  height: 83.5%;
  resize: none;
  border: 1px solid #B6B6B6;
  padding: 10px;
}

.contact-form__textarea-wrap {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: -1;
}

.contact-form__input-wrap > div:not(:last-child) {
  grid-column-start: 1;
}

.contact-form__text-input {
  width: 90%;
  background: #ffffff;
  border: 1px solid #B6B6B6;
  padding: 10px 35px 10px 10px;
  font-family: 'Houschka', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.contact-form__text-input:valid {
  background: url("../img/svg/valid.svg") no-repeat 98%;
}

.contact-form__text-input:invalid {
  background: url("../img/svg/invalid.svg") no-repeat 98%;
}

.contact-form__text-input::placeholder {
  font-family: 'Houschka', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #707070;
  opacity: 0.7;
}

.contact-form__label {
  display: flex;
  width: 61%;
  padding-left: 60px;
  margin: 1% 0 1% 0;
  font-family: 'Houschka', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #474747;
  cursor: pointer;
}

.close-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  right: 60px;
  top: 50px;
  fill: #474747;
  cursor: pointer;
  transition: all .3s ease;
}

.close-btn:hover svg,
.close-btn:focus svg {
  opacity: .6;
  transform: rotate(90deg);
  transition: all .3s ease;
}

.close-btn svg {
  width: 25px;
  height: 25px;
}

.contact-form__interactive-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.contact-form__file-wrap {
  width: auto;
  max-width: 30%;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.contact-form__file-wrap:hover,
.contact-form__file-wrap:focus {
  opacity: .6;
  transition: all .3s ease;
}

.contact-form__file-label {
  display: block;
  max-width: 100%;
  height: 25px;
  font-family: 'Houschka', Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0.025em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #9A9A9A;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.contact-form__paperclip {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contact-form__submit {
  color: #FF8A00;
  background: #FFFFFF;
  border: 4px solid #FF8A00;
  transition: all .3s ease;
}

.contact-form__submit:hover,
.contact-form__submit:focus {
  background: linear-gradient(180deg, #FFA829 0%, #FF6D01 100%);
  color: #FFFFFF;
  transition: all .3s ease;
}

