.greetings {
  min-height: 540px;
  height: 100vh;
  padding-top: 80px;
  background: #fafafa;
  overflow: hidden;
  position: relative;
}

.greetings__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: all 1.5s ease;
}

.greetings__background-wrap {
  height: 100%;
}

.greetings__desc-block {
  padding: 35px 0 0;
  max-width: 510px;
  position: relative;
}

.greetings__desc-block::before {
  content: '';
  display: block;
  width: 67px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 100px;
  background: #FF961B;
  opacity: 0;
  transition: all .3s ease;
}

.greetings__desc-block.onload::before {
  top: 0;
  opacity: 1;
  transition: all .3s ease;
}

.greetings__text {
  margin: 0;
  font-family: 'Houschka Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1E1E1E;
  transform: translateY(100px);
  opacity: 0;
  transition: all .5s ease;
}

.greetings__text.onload{
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease;
}

.greetings__title {
  font-family: 'Houschka', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 135%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transform: translateY(100px);
  opacity: 0;
  transition: all .5s ease;
}

.greetings__title.onload {
  transform: translateY(0px);
  opacity: 1;
  transition: all .5s ease;
}

.greetings__start-btn {
  transform: translateY(100px);
  opacity: 0;
  transition: all .5s ease;
}

.greetings__start-btn.onload {
  transform: translateY(0px);
  opacity: 1;
  transition: all .5s ease;
}


.greetings__title-accent {
  color: #FF961B;
}

.greetings__pic-wrap {
  height: 90%;
  max-height: 550px;
  width: 50%;
}

.greetings__mouse-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.greetings__mouse-icon {
  fill: #000;
}

.greetings__mouse-icon circle {
  animation: scroll 1.5s ease infinite;
}

.greetings__pic-wrap {
  position: relative;
}

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 231;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    cy: 431;
  }
}






.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
  background: #FFD335;
}
.shade2{
  opacity: 0.5;
  background: #FFD335;
}

.shade3{
  opacity: 0.7;
  background: #FFD335;
}

.shade4{
  opacity: 0.8;
  background: #FFD335;
}

.shade5{
  opacity: 0.9;
  background: #FFD335;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }

  50%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(0.8);
  }
}
