.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 1.5s ease;
}

.header.onload {
  opacity: 1;
  box-shadow: 0 0 10px #cacaca;
  transition: all 1.5s ease;
}

.header__main-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header__start-btn {
  position: relative;
  min-width: 212px;
  height: 40px;
  padding: 5px 20px 5px 35px;
  border-top: 0 solid #FF8A00;
  border-bottom: 0 solid #FF8A00;
  border-left: 4px solid #FF8A00;
  border-right: 4px solid #FF8A00;
  background: #FFFFFF;
  font-family: 'Houschka', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FF8A00;
  transition: all .1s ease;
  cursor: pointer;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo svg {
  height: 85px;
}

.header__logo-stripes {
  fill: #505050;
  transition: all .3s ease;
}

.header__logo-shining {
  opacity: 0;
  transition: all .3s ease;
}

.header__logo:hover .header__logo-shining,
.header__logo:focus .header__logo-shining {
  opacity: 1;
  transition: all .3s ease;
}

.header__logo:active .header__logo-shining {
  opacity: 0;
  transition: all .3s ease;
}

.header__logo:hover .header__logo-stripes,
.header__logo:focus .header__logo-stripes {
  fill: #FFD335;
  transition: all .3s ease;
}

.header__start-btn-plus {
  width: 9px;
  height: 11px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-45%);
  fill: #FF8A00;
  transition: all .3s ease;
}

.header__start-btn:hover,
.header__start-btn:focus {
  border-top: 4px solid #FF8A00;
  border-bottom: 4px solid #FF8A00;
  transition: all .3s ease;
}

.header__lang-wrap {
  display: flex;
  justify-content: space-between;
  width: 65px;
}

.active-lang {
  font-weight: 700;
}
