.services {
  min-height: 500px;
  padding: 45px 0;
}

.services__tabs {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 70px;
}

.services__tabs-item button {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 25px;
  color: #9A9A9A;
  cursor: pointer;
  transition: all .3s ease;
}

.services__tabs-item button:hover,
.services__tabs-item button:focus {
  color: #FF8A00;
  transition: all .3s ease;
}

.services__tabs-item button.active {
  color: #1E1E1E;
  transition: all .3s ease;
}

.services__tabs-item button.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 8px;
  width: 100%;
  z-index: -1;
  bottom: -12px;
  background: #FF8A00;
}

.services__service-list {
  width: 53%;
}

.services__service-item button {
  height: 50px;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1E1E1E;
  padding-left: 80px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.services__service-item button:hover,
.services__service-item button:focus {
  color: #9A9A9A;
  transition: opacity .3s ease;
}

.services__service-item button.active {
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #1E1E1E;
  background: url("../img/svg/arrow.svg") no-repeat left;
}

.services__tab-wrap {
  display: none;
}

.services__tab-wrap.active {
  display: flex;
  justify-content: space-between;
}

.services__tab-desc {
  width: 45%;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1E1E1E;
  margin: 0;
}

.slide-in-blurred-bottom {
  opacity: 0;
}

.animated .slide-in-blurred-bottom {
  opacity: 1;
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  .services__tabs {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .services__tabs-item {
    width: 33.33%;
  }

  .services__service-item button {
    padding: 0;
    text-align: left;
    min-height: fit-content;
    height: auto;
    margin-bottom: 15px;
  }

  .services__service-item button.active {
    background: none;
  }
}

@media (max-width: 600px) {
  .services .container {
    width: 85%;
  }

  .services__tabs-item button,
  .services__service-item button,
  .services__service-item button.active,
  .services__tab-desc {
    font-size: 15px;
    line-height: 20px;
  }

  .services__tabs {
    margin-bottom: 45px;
  }

  .services__tabs-item button.active::before {
    height: 3px;
    bottom: -3px;
  }

  .services__service-list {
    width: 35%;
  }

  .services__tab-desc {
    width: 60%;
  }

  .services__service-item button,
  .services__service-item button.active {
    color: #ec8923;
  }

  .services__tabs-item {
    width: 43%;
  }
}
